@mixin display-font() {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

:root {
  --space: 1rem;
  --font-base-size: 16px;
  --line-height: 1.5;
  --color-primary: #345252;
  --color-secondary: #fff3eb;
  @media screen and (min-width: 1440px) {
    --font-base-size: 1.11vw;
  }
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-base-size);
  line-height: var(--line-height);
  color: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--color-secondary);
}

p {
  width: 87.5vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.author-name {
  width: 87.5vw;
  margin: 0 auto;
  font-size: 4.5rem;
  line-height: calc(62 / 72);
  @include display-font();
}

.author-photo {
  width: 100%;
  height: 19rem;
  padding-right: 6.25vw;
  margin-bottom: calc(1.5 * var(--space));
  object-fit: cover;
  object-position: right;
}

.intro {
  font-size: 1.5rem;
  line-height: calc(48 / 36);
  @include display-font();
}

.social-links {
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: calc(var(--line-height) * var(--space)) 0;
  text-align: center;
  line-height: 1;
  .social-links__link {
    width: 3.5rem;
    text-decoration: none;
    display: block;
  }
  path {
    fill: var(--color-primary);
  }
}

.social-links--fixed {
  position: fixed;
  bottom: calc(var(--line-height) * var(--space));
  margin: 0 auto;
  width: 100%;
  li {
    background-color: var(--color-primary);
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .social-links__link {
    width: 3.25rem;
    padding: calc(var(--space) / 2);
  }
  path {
    fill: var(--color-secondary);
  }
}

.footer {
  width: 87.5vw;
  margin: calc(calc(2 * var(--line-height)) * var(--space)) auto var(--space);
}

.ie11 {
  /* ie11 only rules */
  // no object-fit
  // no custom properties
  // flex is weird
  // no grid
}