$sm: 520px;
$md: 700px;
$lg: 890px;
$xl: 1200px;
@mixin display-font() {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

:root {
  --space: 1rem;
  --h-margin: 6.25vw;
  --v-space: calc(var(--line-height) * var(--space));
  --font-base-size: 16px;
  --line-height: 1.6;
  --color-primary: #345252;
  --color-secondary: #fff3eb;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-base-size);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: var(--line-height);
  color: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--color-secondary);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $md) {
    grid-template-columns: auto 12.5vw;
    grid-row-gap: var(--v-space);
  }
  @media screen and (min-width: $lg) {
    grid-template-columns: 50vw auto 12.5vw;
    margin-top: 3.6rem;
    margin-right: 1rem;
  }
  @media screen and (min-width: $xl) {
    grid-template-columns: 39vw auto 6.25vw;
    margin-top: 7.5rem;
    margin-right: 3rem;
    grid-column-gap: var(--h-margin);
    grid-row-gap: calc(var(--v-space) * 2);
  }
}

.author-name {
  margin: 0 var(--h-margin);
  font-size: 3rem;
  line-height: calc(62 / 72);
  @include display-font();
  @media screen and (min-width: $sm) {
    font-size: 4rem;
  }
  @media screen and (min-width: $md) {
    grid-column: 1 / span 1;
    margin: 0 0 0 var(--h-margin);
  }
  @media screen and (min-width: $lg) {
    font-size: 10vw;
    grid-column: 2 / span 2;
    align-self: center;
    span {
      display: block;
    }
  }
  @media screen and (min-width: $xl) {
    font-size: 8vw;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    .author-name__last {
      margin-left: var(--h-margin);
    }
  }
}

.author-photo {
  width: 100%;
  height: 19rem;
  padding-right: var(--h-margin);
  margin-bottom: var(--v-space);
  object-fit: cover;
  object-position: right;
  @media screen and (min-width: $sm) {
    height: auto;
  }
  @media screen and (min-width: $md) {
    padding-right: 0;
    margin-bottom: 0;
    grid-column: 1 / span 1;
  }
  @media screen and (min-width: $lg) {
    padding-right: 0;
    grid-column: 1 / span 1;
  }
  @media screen and (min-width: $xl) {
    grid-row: 2 / span 1;
  }
}

.intro {
  font-size: 1rem;
  line-height: var(--line-height);
  font-style: italic;
  margin: var(--v-space) var(--h-margin);
  @media screen and (min-width: $sm) {
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-style: normal;
    @include display-font()
  }
  @media screen and (min-width: $md) {
    grid-column: 1 / span 1;
    margin: 0 0 0 var(--h-margin);
  }
  @media screen and (min-width: $lg) {
    grid-column: 1 / span 2;
    font-size: 3vw;
  }
  @media screen and (min-width: $xl) {
    margin: 0;
    grid-column: 2 / span 2;
    font-size: 2.5vw;
  }
}

.author-bio {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: var(--v-space) var(--h-margin) 0;
  p {
    margin: 0 0 var(--v-space) 0;
  }
  @media screen and (min-width: $md) {
    margin-top: 0;
    margin-right: calc(var(--h-margin) + 6.5%);
    grid-column: 1 / span 1;
  }
  @media screen and (min-width: $lg) {
    grid-column: 1 / span 2;
    margin-right: calc(var(--h-margin) / 2);
    font-size: 1.8vw;
  }
  @media screen and (min-width: $xl) {
    grid-column: 2 / span 1;
    margin: 0;
    font-size: 1.3vw;
  }
}

.social-links {
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  line-height: 1;
  .social-links__link {
    width: 3.5rem;
    text-decoration: none;
    display: block;
  }
  path {
    fill: var(--color-primary);
  }
  @media screen and (min-width: $md) {
    margin: 0;
    flex-direction: column;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: var(--v-space);
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 4;
    align-self: start;
  }
  @media screen and (min-width: $lg) {
    grid-column-start: 3;
    grid-row-start: 3;
  }
  @media screen and (min-width: $xl) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.social-links--fixed {
  position: fixed;
  bottom: calc(var(--line-height) * var(--space));
  margin: 0 auto;
  width: 100%;
  transform: translateY(200%);
  opacity: 0;
  transition: 0.2s transform, 0.2s opacity;
  .show-fixed-nav & {
    transform: translateY(0);
    opacity: 1;
  }
  li {
    background-color: var(--color-primary);
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .social-links__link {
    width: 3.25rem;
    padding: calc(var(--space) / 2);
  }
  path {
    fill: var(--color-secondary);
  }
  @media screen and (min-width: $md) {
    display: none;
  }
}

.footer {
  margin: 0 var(--h-margin) var(--space);
  @media screen and (min-width: $md) {
    margin-bottom: calc(calc(2 * var(--line-height)) * var(--space))
  }
  @media screen and (min-width: $lg) {
    font-size: 1.7vw;
  }
  @media screen and (min-width: $xl) {
    grid-column: 2 / span 2;
    margin-left: 0;
    font-size: 1.2vw;
  }
}