/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	max-width: $max-width;
	margin: 0 auto;
	padding: $pad-half;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

/* Two Column Layout */
.l-block {
	@extend .cf;

	@media all and (min-width: $bp-small-2) {
		margin: auto;
		width: 90%;
		max-width: 36.75em;
	}

	.l-main {
		@media all and (min-width: $bp-small-3) {
			float: left;
			width: 70%;
			padding-right: $pad;
		}
	}

	.l-enrich {
		@media all and (min-width: $bp-small-3) {
			float: left;
			width: 30%;
			margin-top: $pad-half;
		}
	}

	&:first-child {
		margin-top: $pad-double;
	}
}

.l-reverse {
	.l-main {
		@media all and (min-width: $bp-small-3) {
			float: left;
			width: 70%;
			margin-left: 30%;
			padding: 0 0 0 $pad;
		}
	}

	.l-enrich {
		@media all and (min-width: $bp-small-3) {
			float: left;
			width: 30%;
			margin-left: -100%;
		}
	}
}